.about-montserrat-p-text {
  font-family: $font-family-montserrat-sans-serif;
  margin-top: 2rem;
}

.about-laravel-text {
  color: #e74430;
}

.about-laravel-text:hover {
  text-decoration: underline;
  color: #e74430;
}

.about-digitalocean-text {
  color: #303fd9;
}

.about-digitalocean-text:hover {
  text-decoration: underline;
  color: #303fd9;
}

.about-github-text {
  color: #24292e;
}

.about-github-text:hover {
  text-decoration: underline;
  color: #24292e;
}
