.contact {
    margin: 0;
    padding: 0;
    text-align: center;
    //background: url('../../storage/app/public/images/pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    height: 1600px;
}


.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: #4dc0b5;
    margin-top: 75px;
    margin-bottom: 16px;
    background-color: aquamarine;
}
