.contact-ahref {
    padding-top: .34rem;
    padding-left: 1rem;
}

.button.is-text.contact-ahref:hover {
    color: $secondary-site-color;
}

.button.is-text.contact-ahref {
    text-decoration: none;
}

.gfield-required {
    color: #790000;
}

.contact-red-asterisk {
    color: red;
}