.login-box a, .checkbox.login-checkbox {
    font-size: .7rem;
    text-align: left;

    @media only screen and (min-width: 768px) {
        font-size: .75rem;
    }

    @media only screen and (min-width: 1088px) {
        font-size: .8rem;
    }
}