.jeepup-brand-icon {
    min-width: 2.5rem;
    padding-right: .1rem;
}

.brand-name {
    font-size: 1.75rem;
    font-family: $font-family-faster-one-cursive;
    color: $secondary-site-color;
    // padding-left: 2rem;
}

#jeepup-navbar .navbar-item {
    color: whitesmoke;
}

.navbar {
    background-color: $main-site-color;
}

nav .navbar-end .buttons {
    justify-content: center;

    @media only screen and (min-width: 1088px) {
        justify-content: flex-start;
    }
    
}

