// Body
$body-bg: #FFFFFF;

// Site colors
$main-site-color: #525D3A;
$secondary-site-color: #819359;
$tertiary-site-color: #363636;

// Colors
$white-chocolate: #ECE6DD;
$green-pastel: #02C23C;

// Typography
$font-family-raleway-sans-serif: "Raleway", sans-serif;
$font-family-montserrat-sans-serif: "Montserrat", sans-serif;
$font-family-russo-one: 'Russo One', sans-serif;

$font-size-base: 1rem;
$line-height-base: 1.6;

// Override Bulma variables
$primary: $main-site-color;
$link-hover: $secondary-site-color;

$footer-background-color: #212529;

$box-shadow: 1px 0px 6px #333;
$box-radius: 2px;

$loading-background: #FFFFFF;
$loading-overlay-min-height: 20vh;
$loading-background-legacy: #FFFFFF;
