// Body
$body-bg: #fff;

// Site colors
$main-site-color: #151D37;
$secondary-site-color: #D84F4F;

// Typography
$font-family-raleway-sans-serif: "Raleway", sans-serif;
$font-family-montserrat-sans-serif: "Montserrat", sans-serif;
$font-family-faster-one-cursive: "Faster One", cursive;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #47DED6;
$cyan: #6cb2eb;

// Override Bulma variables
$link-hover: $secondary-site-color;
$footer-background-color: #33363D;
