// Site Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600');

// Brand Font
@import url('https://fonts.googleapis.com/css?family=Russo+One');

// Variables
@import 'variables';

// Bulma CSS Framework
@import '~bulma/bulma.sass';

html {
    height: 100%;
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    font-family: $font-family-raleway-sans-serif;
    font-size: $font-size-base;
    min-height: 100%;
    font-weight: 400;
    line-height: $line-height-base;
    color: #212529;
    background-color: $body-bg;
}

// Components
@import './Components/navbar';
@import './Components/main';
@import './Components/footer';
@import './Components/button';
@import './Components/icon';
@import './Components/ahref';
@import './Components/whitesmoke-section';

// Pages
@import './Pages/contact';
@import './Pages/about';
@import './Pages/login';
@import './Pages/join';
@import './Pages/welcome';
