.button-filled {
    text-transform: uppercase;
    border-color: $secondary-site-color;
    border-width: 2px;
    background-color: $secondary-site-color;
    color: white;
}

.button-filled:hover {
    border-color: $secondary-site-color;
    background-color: transparent;
    color: black;
}

.button-empty {
    text-transform: uppercase;
    border-color: $secondary-site-color;
    border-width: 2px;
    background-color: transparent;
    color: black;

    @media only screen and (min-width: 1088px) {
        color: $secondary-site-color;
    }
}

.button-empty:hover {
    border-color: $main-site-color;

    @media only screen and (min-width: 1088px) {
        color: $main-site-color;
    }
}

nav.button-empty:hover {
    border-color: $main-site-color;

    @media only screen and (min-width: 1088px) {
        color: $white;
    }
}