nav { 
  text-align: center;
}

.brand-name {
  font-size: 1.3rem;
  font-family: $font-family-russo-one;
  color: #FFF;

  @media only screen and (min-width: 768px) {
      font-size: 1.4rem;
  }

  @media only screen and (min-width: 1088px) {
      font-size: 1.6rem;
  }
}

a.navbar-item, a.navbar-link {
  color: black;

  @media only screen and (min-width: 1088px) {
      color: #FFF;
  }
}

a.navbar-item:hover, a.navbar-link:hover {
  color: $secondary-site-color;
}

.navbar {
  background-color: $main-site-color;
}

.navbar-burger {
  color: $white-chocolate;
}

.navbar-burger:hover {
  color: $tertiary-site-color;
}

.navbar-burger span.small-burger {
  max-width: 20%;
}

nav .navbar-end .buttons {
  justify-content: center;

  @media only screen and (min-width: 1088px) {
      justify-content: flex-start;
  }
}

nav .login-button {
  @media only screen and (min-width: 1088px) {
    color: $white-chocolate;
    border-color: $tertiary-site-color;
  }
}

nav .login-button:hover {
  color: $secondary-site-color;

  @media only screen and (min-width: 1088px) {
    color: #FFF;
  }
}

nav .signup-button:hover {
  @media only screen and (min-width: 1088px) {
      color: $white-chocolate;
      border-color: $tertiary-site-color;
  }
}