.section.whitesmoke-section {
  background-color: whitesmoke;
  border-right: 3px solid $secondary-site-color;
  margin: 4rem 0;
  padding-left: 2rem;
  padding-right: 2rem;

  @media only screen and (min-width: 425px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media only screen and (min-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media only screen and (min-width: 1088px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}